<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br>
            <h2>{{viewData.student.firstName}} {{viewData.student.lastName}} - Student: {{viewData.student.studentNum}}
            </h2>
            <hr />
            <form method="post" action="/student/update">
                <input type="hidden" name="studentNum" value="{{viewData.student.studentNum}}" />
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name:</label>
                                <input class="form-control" id="firstName" name="firstName" type="text"
                                    value="{{viewData.student.firstName}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name:</label>
                                <input class="form-control" id="lastName" name="lastName" type="text"
                                    value="{{viewData.student.lastName}}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Email:</label>
                                <input type="email" class="form-control" name="email"
                                    value="{{viewData.student.email}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Address (Street):</label>
                                    <input type="text" class="form-control" name="addressStreet"
                                        value="{{viewData.student.addressStreet}}" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Address (City):</label>
                                    <input type="text" class="form-control" name="addressCity"
                                        value="{{viewData.student.addressCity}}" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Address (Province):</label>
                                    <input type="text" class="form-control" name="addressProvince"
                                        value="{{viewData.student.addressProvince}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Academic Information</legend>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="mb-2">College Employment:</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="TA" name="TA" {{#if
                                    viewData.student.TA}}checked{{/if}}>
                                <label class="form-check-label" for="TA">Teaching Assistant</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Enrollment Status:</label><br>
                                <div class="form-check form-check-inline">
                                    <input name="status" type="radio" class="form-check-input" id="fullTime"
                                        value="Full Time" {{#equal viewData.student.status "Full Time"
                                        }}checked{{/equal}}>
                                    <label class="form-check-label" for="fullTime">Full Time</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input name="status" type="radio" class="form-check-input" id="partTime"
                                        value="Part Time" {{#equal viewData.student.status "Part Time"
                                        }}checked{{/equal}}>
                                    <label class="form-check-label" for="partTime">Part Time</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Enrolled in Course:</label>
                                {{#if viewData.courses}}<select class="form-select" name="course" id="course">
                                    <option value="">Select Course</option>{{#each viewData.courses}}<option
                                        value="{{courseId}}" {{#if selected}} selected {{/if}}>{{courseCode}} </option>
                                    {{/each}}
                                </select>{{else}}<div>No Courses</div>{{/if}}
                            </div>
                        </div>
                    </div>
                </fieldset>
    </div>
    <hr>
            <input type="submit" class="btn btn-primary float-end" value="Update Student" /><br><br><br>
    </form>
    </main>
</div>
</div>